/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.85);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
  font-weight: 800;
  letter-spacing: 1px;
}

.logo .pink {
  color: #ff2d7a;
}

/* DIAMANTE */

.diamond {
  width: 20px;
  height: 20px;
  background: #ff2d7a;
  transform: rotate(45deg);
  margin-right: 10px;
  position: relative;
}

.diamond::after {
  content: "👑";
  position: absolute;
  transform: rotate(-45deg);
  font-size: 12px;
  top: -6px;
  left: 2px;
}

/* MENU */

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #aaa;
  font-weight: 600;
  position: relative;
}

nav a.active {
  color: #ff2d7a;
}

/* linha em baixo do HOME */

nav a.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ff2d7a;
  bottom: -5px;
  left: 0;
}

/* AUTH */

.auth {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register {
  background: #ff2d7a;
  padding: 8px 18px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}
